[Unit]
Description=webkaos (HTTP and reverse proxy server)
Documentation=http://nginx.org/en/docs/
After=network.target remote-fs.target nss-lookup.target
 
[Service]
Type=simple
PIDFile=/var/run/webkaos.pid
ExecStart=/etc/init.d/webkaos start
ExecReload=/etc/init.d/webkaos reload
ExecStop=/etc/init.d/webkaos stop
PrivateTmp=true
 
[Install]
WantedBy=multi-user.target
